@keyframes toggleButton {
  0% {
    background: linear-gradient(-135deg, #4aa1ab 0%, #130d5f 100%);
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    background: linear-gradient(-135deg, #4aa1ab 0%, #130d5f 100%);
  }
}

.toggleVis--active {
  animation: toggleButton 800ms ease-in-out forwards;
  transition: all 250ms;
}

.toggleVis.toggleVis--active:hover {
  transform: scale(1.1);
}

.toggleVis.add-button {
  margin-left: 0;
}

.toggleVis.add-button:hover span {
  color: white;
}

.toggleVis.add-button.toggleVis--active span {
  color: rgb(213, 251, 255);
}

.content--disabled .toggleVis.add-button {
  display: none;
}
