h3.h3--sib-h4 {
  font-size: 34px;
  font-size: 3.4rem;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}
.test-abbreviation {
  font-family: "Montserrat", serif;
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 700;
}
