h5 {
  color: #474747;
  font-size: 27px;
  font-size: 2.7rem;
  margin: 0 0 18px;
  text-transform: capitalize;
}

h6 {
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-size: 2.1rem;
  margin: 0 0 21px;
  text-transform: uppercase;
}

.h7 {
  color: #666;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0px;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.domain__test p,
.domain__test {
  font-size: 21px;
  font-size: 2.1rem;
}

.test-table-heading:first-of-type {
  margin-top: 45px;
}

.has-toggle-child input {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  height: 20px;
  margin-left: 9px;
  opacity: 1;
  position: relative;
  width: 20px;
  -webkit-appearance: none;
  transition: all 250ms ease-in-out;
}

.has-toggle-child input:after {
  content: "";
  position: absolute;
  display: none;
}
.has-toggle-child input:checked:after {
  display: block;
}
.has-toggle-child input:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-toggle-child input:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.has-toggle-child input:checked {
  background-color: #13b913;
}
