.btn-wrap {
  margin-top: 8.1rem;
  margin-bottom: 8.1rem;
}
.btn-wrap .btn {
  background-color: #474747;
  box-shadow: 0 2px 5px 0 rgba(110, 115, 118, 0.3);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 7.14vw;
  -webkit-transition: background-color 250ms;
  -moz-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
}
.btn-wrap .btn .btn__text {
  padding: 9px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.btn-wrap .btn .btn__text > i {
  color: white;
  transition: color 0.25s linear 0.25s;
}
.btn-wrap .btn .btn__hover {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-wrap .btn .btn__hover:before {
  transform: translate3d(0, 103%, 0);
  opacity: 1;
}
.btn-wrap .btn .btn__hover:after {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate3d(0, -105%, 0);
  opacity: 1;
}
.btn-wrap .btn .btn__hover:after,
.btn-wrap .btn .btn__hover:before {
  content: "";
  background: linear-gradient(-135deg, #d5fbff 0%, #5d58a3 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-wrap > span {
  color: #474747;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 9px;
}
.btn-wrap .btn:hover .btn__hover:before {
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateZ(0);
  opacity: 1;
}
.btn-wrap .btn:hover .btn__hover:after {
  transition: none;
  transform: translateZ(0);
  opacity: 0;
}
.btn-wrap .btn:hover .btn__text > span,
.btn-wrap .btn:hover .btn__text > i {
  color: black;
}

.btn-wrap .btn .btn__text > span {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  transition: color 0.25s linear 0.25s;
}
