.toast {
  background-color: #211212;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  color: #f3aa59;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-size: 2.1rem;
  max-width: 438px;
  line-height: 2.7rem;
  padding: 12px;
  position: fixed;
  bottom: -200px;
  left: 3.56vw;
  z-index: 9;
  transition: all 500ms cubic-bezier(0.65, 0, 0.26, 1);
}

.toast.toast--has-error {
  bottom: 36px;
}

.toast i.material-icons {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin-left: 24px;
  transition: all 250ms ease-in-out;
}
.toast i.material-icons:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transform: scale(1.2);
}
