.question .question__input {
  align-items: flex-end;
  min-height: 64px;
}

.question .question__input .question__single-choice {
  display: none;
}

.question .question__input ul.question__choices {
  list-style: none;
  padding: 0;
  margin: 0;
}

.question .question__input ul.question__choices > li.question__choice {
  cursor: pointer;
  margin-right: 9px;
  position: relative;
  padding: 15px 9px;
  width: 145px;
  transition: all 0.25s ease-out;
}

.question.question--thumbless
  .question__input
  ul.question__choices
  > li.question__choice {
  margin-bottom: 9px;
  padding: 15px 18px 15px 15px;
  width: auto;
}

.question.question--thumb
  .question__input
  ul.question__choices
  > li.question__choice {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__tick-wrap {
  position: absolute;
  right: 0;
  top: 0;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__tick-wrap
  > i {
  display: none;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__image-wrap {
  width: 78px;
  margin: 18px 0 36px;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__text-wrap {
  color: #a3a3a3;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  transition: color 0.25s;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__text-wrap
  .question__label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 9px;
  padding: 6px;
  transition: background-color 0.25s;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__bg {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.25s ease-out;
  z-index: -1;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice:hover
  .question__text-wrap {
  color: #474747;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice:hover
  .question__bg {
  background-color: rgba(0, 0, 0, 0.2);
}

.question
  .question__input
  ul.question__choices
  li.question__choice.question__checkbox--selected
  .question__tick-wrap
  > i {
  display: block;
}

.question
  .question__input
  ul.question__choices
  > li.question__choice
  .question__tick-wrap:after {
  border-style: solid;
  border-width: 0 47px 53px 0;
  border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
  content: "";
  display: none;
  height: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}

.question
  .question__input
  ul.question__choices
  li.question__choice.question__checkbox--selected
  .question__tick-wrap:after {
  display: block;
}

.question
  .question__input
  ul.question__choices
  li.question__choice.question__checkbox--selected
  .question__label {
  background-color: rgba(0, 0, 0, 0.2);
}

.question
  .question__input
  ul.question__choices
  li.question__choice.question__checkbox--selected
  .question__label
  > .question__letter {
  color: #474747;
}

/* Card with Numbers */
.question.question--numbers
  .question__input
  ul.question__choices
  > li.question__choice {
  min-width: 108px;
}

.question.question--numbers
  .question__input
  ul.question__choices
  > li.question__choice
  .question__text-wrap
  .question__label {
  display: none;
}

.question.question--numbers
  .question__input
  ul.question__choices
  > li.question__choice
  .question__text-wrap {
  justify-content: center;
}

/* Radio Card - Radio Buttons visible */
.question-card__radio {
  width: 100%;
}

[type="radio"].radio-visible {
  height: initial;
  position: initial;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  opacity: initial;
  width: initial;
}

.question-card__radio > label {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: initial;
  margin: inherit;
  margin-left: 9px;
}

.question__card > .question-card__radio:nth-child(even) {
  margin-bottom: 9px;
}

.question__multiple-choice {
  display: none;
}
