.flex {
  display: flex;
}

.recommendations {
  margin-bottom: 45px;
  transition: all 500ms ease-in-out;
}

.recommendations:last-of-type {
  margin-bottom: 0px;
}

.recommendations__recommendation label {
  cursor: pointer;
  flex-wrap: wrap;
}

.recommendations__recommendation input[type="checkbox"] {
  flex: none;
  margin-right: 18px;
}

.recommendations__recommendation p {
  flex: 1 1 80%;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2rem;
}

.recommendations__recommendation label > div.recommendation__list {
  border-left: 1px solid gray;
  flex: 1 1 100%;
  margin-left: 50px;
  padding-left: 9px;
}

.recommendation__list ul {
  margin: 0;
}
